/* Reset default margin and padding */
body, h1, h2, h3, h4, h5, h6, ul, li {
    margin: 0;
    padding: 30px;
}

p {
    color: #154e13;
}

/* Apply base font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #dce7cb;
}

/* Sticky menu styles */
.sticky-menu {
    position: sticky;
    top: 0;
}

.menu-options {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.menu-options a {
    text-decoration: none;
    color: #154e13;
}

.menu-options a:hover,
.menu-options a:active,
.menu-options a:visited {
    color: green;
}

/* Center the content */
.intro {
    display: flex;
    align-items: center;
    height: 50vh;
    padding: 20px; /* Add some padding for spacing */
}

.intro p {
    padding: 50px;
    margin-right: 100px;
    background-color: #d9d9d9;
}

.hero {
    display: flex;
    justify-content: space-between; /* Distribute items with equal space between */
    align-items: center;
    padding: 20px; /* Add some padding for spacing */
    background-color: #d9d9d9;
}

.mission {
    color: #154e13;
    padding: 25px;
}

/* Apply equal spacing to image elements */
.hero img {
    flex: 1; /* Distribute available space equally among image elements */
    margin: 0 100px; /* Adjust margin for spacing between images */
    max-width: 50%; /* Limit each image to 33% of the container width */
}

.wrapper {
    width: 80vw;
 
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 35vh;
}

.container {
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    backdrop-filter: blur(10px);
    box-shadow: -1px -1px 4px #154e13,
                 1px 1px 7px rgba(147, 149, 151, 0.671);
}

span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
}

span.text {
    color: #154e13;
    font-size: 1em;
    text-align: center;
    padding: 0.7em 0; /* Correct the property name */
    font-weight: 400;
    line-height: 0;
}

.wrapper p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    padding: 0 15px 0px ;
    color: #154e13;
}
